.TaxonChildren {
    margin-top: 15px;
}

.TaxonChildren-box {
    border: 1px solid rgba(200, 200, 200, 0.5);
    margin: 10px 0;
}

.TaxonChildren-box-title {
    font-weight: bold;
    text-align: center;
}